.centerRow {
  align-items: center !important;
  display: flex !important;
  font-size: 30 !important;
  justify-content: center !important;
}

.winnerLabel {
  align-items: center !important;
  display: flex !important;
  font-size: 30 !important;
  justify-content: center !important;
}

.container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
}

.button {
  width: 200px;
  margin-bottom: 10px;
}
