.noTeamCard {
  align-items: center !important;
  background: transparent !important;
  display: flex !important;
  height: 70vh !important;
  justify-content: center !important;
  margin-top: 20px !important;
}

.noTeamCardBody {
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 20px !important;
}

.noTeamCardImageRow {
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 20px !important;
}

.noTeamCardImage {
  height: 300px !important;
  width: 300px !important;
}

.noTeamCardTextRow {
  margin-bottom: 20px !important;
}
